spring:
  application:
    name: kill-batch

  batch:
    # JDBC를 통해 메타데이터 테이블 생성
    jdbc:
      initialize-schema: always
    # 배치 자동 실행 -> false
    job:
      enabled: false

  sql:
    init:
      mode: always
      schema-locations: classpath:org/springframework/batch/core/schema-drop-postgresql.sql

  # postgreSQL
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres?reWriteBatchedInserts=true
    driver-class-name: org.postgresql.Driver
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    open-in-view: false
    properties:
      hibernate:
        show_sql: true
        format_sql: true

logging:
  level:
    org.springframework.batch.item.database: DEBUG